In [1]:
pip install pymongo

Requirement already satisfied: pymongo in c:\conda\lib\site-packages (4.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo

In [3]:
from pymongo import MongoClient

In [4]:
client = MongoClient('localhost', 27017)

In [5]:
db = client['mydb']
print("Database created........")
print("List of databases after creating new one")
print(client.list_database_names())

Database created........
List of databases after creating new one
['admin', 'config', 'local', 'mydb', 'test', 'wait']

In [7]:
doc1 = {"name": "Ram", "age": "26", "city": "Hyderabad"}
{ "name" : "Ram", "age" : "26", "city" : "Hyderabad" }
db.coll.insert_one(doc1)

In [8]:
db.coll.find()

In [10]:
db.coll.find_one()

{'_id': ObjectId('621b40492e3cf90daffdd9a7'),
 'name': 'Ram',
 'age': '26',
 'city': 'Hyderabad'}

In [12]:
db.create_collection("new1")

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydb'), 'new1')

In [13]:
data = [{"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
{"_id": "1002", "name": "Rahim", "age": "27", "city": "Bangalore"},
{"_id": "1003", "name": "Robert", "age": "28", "city": "Mumbai"},
{"_id": "1004", "name": "Romeo", "age": "25", "city": "Pune"},
{"_id": "1005", "name": "Sarmista", "age": "23", "city": "Delhi"},
{"_id": "1006", "name": "Rasajna", "age": "26", "city": "Chennai"}]

db.new1.insert_many(data)

In [14]:
for doc in db.new1.find({"age":{"$gt":"26"}}):
    print(doc)

{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}

In [15]:
for doc in db.new1.find({"age":{"$ne":"26"}}):
    print(doc)

{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1004', 'name': 'Romeo', 'age': '25', 'city': 'Pune'}
{'_id': '1005', 'name': 'Sarmista', 'age': '23', 'city': 'Delhi'}

In [16]:
for doc in db.new1.find({"age":{"$gte":"26"}}):
    print(doc)

{'_id': '1001', 'name': 'Ram', 'age': '26', 'city': 'Hyderabad'}
{'_id': '1002', 'name': 'Rahim', 'age': '27', 'city': 'Bangalore'}
{'_id': '1003', 'name': 'Robert', 'age': '28', 'city': 'Mumbai'}
{'_id': '1006', 'name': 'Rasajna', 'age': '26', 'city': 'Chennai'}

In [18]:
db.create_collection("new3")

CollectionInvalid: collection new3 already exists

In [ ]:
data = [
{"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
{"_id": "1002", "name": "Rahim", "age": 27, "city": "Bangalore"},
{"_id": "1003", "name": "Robert", "age": 28, "city": "Mumbai"},
{"_id": "1004", "name": "Romeo", "age": 25, "city": "Pune"},
{"_id": "1005", "name": "Sarmista", "age": 23, "city": "Delhi"},
{"_id": "1006", "name": "Rasajna", "age": 26, "city": "Chennai"}]
db.new2.insert_many(data)

In [ ]:
db.new2.delete_one({"_id" : "1006"})

In [ ]:
for doc2 in db.new2.find():
    print(doc2)

In [ ]:
db.new2.delete_one({"_id":"1001"})

In [ ]:
for x in db.new2.find():
    print(x)

In [ ]:
db.create_collection("new3")

In [ ]:
data = [
... {"_id": "1001", "name": "Ram", "age": "26", "city": "Hyderabad"},
... {"_id": "1002", "name" : "Rahim", "age" : 27, "city" : "Bangalore" },
... {"_id": "1003", "name" : "Robert", "age" : 28, "city" : "Mumbai" }]
[
db.new3.insert_many(data)

In [ ]:
for x in db.new3.find():
    print(x)

In [ ]:
db.new3.update_one({"name":"Robert"},{"$set":{"city":"Bangalore"}})

In [ ]:
for t in db.new3.find():
    print(t)

In [ ]:
for t in db.new3.find().limit(2):
    print(t)